body{
    font-size: 1vw;
    margin: 0;
    padding: 0;
    background-color: #001407;
    background-image: url(images/gplay.png);
}
html{
    scroll-behavior: smooth ;
}
p,
h1,
h2,
h3{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}
h1{
    font-size: 5.33em;
    margin-top: 2em;
    margin-bottom: 4em;
}
h2{
    text-align: center;
    font-size: 2.665em;
}
h4{
    color: lime;
    font-family: 'Questrial', sans-serif;
}
header{
    width: 100%;
    height: 100%;
    background-image: url(images/image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -2em -2em 1000px white ;

}

header>div img{
    width: 6em;
}
header div{
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;   
}
.logo{
    width: 18em;
}
header>div a{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    animation-name: scroll-down;
    animation-duration: 4s; */
}
/* @keyframes scroll-down{                                          To animate the hero pointer up and down
    0% {up: 0; down: 0;}
    33% {up:20px; down: 0;}
    66%{up:0; down: 20px;}
    100%{up: 20px;down:0}
} */

.job-list{
    display: flex;
    flex-wrap: wrap;
    background-color: #667265;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 77px;
}


.job-list div{
    width: 33%;
}

.job-list ul{
    list-style: none;
}
.job-list>div>ul>li a{
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 100;
}